include header

div.container
    div.hero-unit
        h1= title
        p Welcome to #{title}

    div.row
        div.span4
            h2 heading
            p Donec id elit non mi porta gravida at eget metus.


    include footer
