div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container
            a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='#').brand #{title}
            div.nav-collapse
                ul.nav
                    li.active
                        a(href='#') Home
                    li
                        a(href='#') Blog
                    li
                        a(href='#') Contact

div.container
    div.hero-unit
        h1= title
        p Welcome to #{title}
    footer
        p &copy; Company 2011

